* {
	box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: bold;
	text-align: center;
	color: black;
}

h1 p {
	text-align: left;
}

h2 {
	margin: 70px 0px 10px 0px;
}

div {
	background-color: grey;
}

#header-nav {
	border: 2px solid black;
}

.navbar-default .navbar-nav li a {
	color: black;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
    border: 1px solid black;
}

.content {
	margin: 20px 5% 20px 5%;
}
